@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0 0;
}

body {
    background-color: rgb(23, 24, 25);
}


img {
    image-rendering: optimizeQuality;
}
#headbook_main_view {
    width: 100vw;
    height: 100vh;
}

#headbook_main_navbar {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: rgb(32, 33, 34);
}

#headbook_view_show {
    /* position: fixed; */
    position: relative;
    top: 60px;
    width: 100vw;
    height: -webkit-calc(100% - 55px);
    height: -moz-calc(100% - 55px);
    height: calc(100% - 55px);
    background-color: rgb(23, 24, 25);
}

#headbook_main_navbar_line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(54, 54, 55);
    bottom: 0px;
}

#headbook_main_navbar_categ {
    position: relative;
    left: 50%;
    /* top: 50%; */
    width: 45%;
    transform: translate(-50%, 0);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar_icon {
    position: relative;
    width: 27px;
    height: auto;
    /* right: 50%; */
    margin: 0 auto;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headbook_main_nabar_button {
    position: relative;
    display: inline;
    width: 24%;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
    fill: rgb(132, 136, 140);
    cursor: pointer;
}

.headbook_main_nabar_button:hover {
    background-color: rgb(48, 49, 50);
    border-radius: 15px;
}

#headbook_main_navbar_serach {
    position: absolute;
    float: left;
    /* width: 75px; */
    width: 250px;
    transition: .5s;
    height: 100%;
    /* border: 1px solid red; */
}

#headbook_main_navbar_serach_bar {
    position: relative;
    width: 90%;
    height: 75%;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 45, 46);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#headbook_main_navbar_serach_bar_inputs {
    position: relative;
    display: inline;
    width: 80%;
    height: 95%;
}

#headbook_main_navbar_serach_bar_inputs input {
    position: relative;
    width: 90%;
    height: 60%;
    top: 55%;
    right: 50%;
    left: 50%;
    background: transparent;
    border: none;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: rgb(160, 164, 169);
    font-size: 14px;
    outline: none;
}

#headbook_main_navbar_serach_icon {
    width: 30px;
    height: 100%;
}

#search_icon {
    position: relative;
    width: 20px;
    height: auto;
    margin: 0 auto;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(132, 136, 140);
}

#headbook_main_navbar_options {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#headbook_main_navbar_options_profile {
    position: relative;
    width: auto;
    height: 100%;
    /* border: 1px solid white; */
}

#headbook_main_navbar_options_profile_button {
    position: relative;
    height:65%;
    width: 95%;
    /* border: 1px solid gray; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
}

#headbook_main_navbar_options_profile_button:hover {
    background-color: rgb(67, 68, 68);
}

/* #headbook_main_navbar_options_profile:hover {
    background-color: rgb(48, 49, 50);
    border-radius: 15px;
} */

#headbook_main_navbar_options_name_logo {
    position: relative;
    width: 30px;
    height: auto;
    float: left;
    /* background-color: white; */
    border-radius: 50px;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    fill: rgb(132, 136, 140);
    /* border: 1px solid rgb(132, 136, 140); */
}

#headbook_main_navbar_options_name {
    position: relative;
    display: inline-block;
    /* vertical-align: middle; */
    width: 50px;
    height: 100%;
    right: 0px;
    /* border: 1px solid green; */
    top: 50%;
    bottom: 50%;
    transform: translate(0,-60%);
    float: right;
    margin-left: 0px;
}

#headbook_main_navbar_options_name a {
    position: relative;
    /* margin: 0 auto; */
    top: 35%;
    right: 0;
    /* bottom: 50%; */
    transform: translate(0, -50%);
    font-family: 'Roboto', sans-serif;
    color: rgb(222, 224, 230);
}

.headbook_main_navbar_options_button {
    position: relative;
    height: 70%;
    width: 40px;
    background-color: rgb(48, 49, 50);
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 100px;
}

.headbook_main_navbar_options_button:hover {
    background-color: rgb(67, 68, 68);
}

#options_icon {
    position: relative;
    width: 50%;
    height: auto;
    fill: rgb(222, 224, 230);
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bar_menu_navbar {
    display: none;
}

@media (max-width: 1100px) {
    #headbook_main_navbar_options {
        width: 150px;
    }
    #headbook_main_navbar_options_profile {
        display: none;
    }
    #headbook_main_navbar_serach {
        width: 200px;
    }
}

@media (max-width: 750px) {
    #headbook_main_navbar_serach {
        position: relative;
        width: 50px;
    }
    #headbook_main_navbar_serach_bar {
        width: 45px;
    }
    #headbook_main_navbar_serach_bar_inputs {
        display: none;
    }
    .headbook_main_nabar_button {
        display: none;
    }
    #bar_menu_navbar {
        display: block;
    }
    #headbook_main_navbar_categ {
        transform: none;
        width: 50px;
        left: 0px;
        justify-content: center;
    }
    .headbook_main_nabar_button {
        width: 95%;
    }
}

.navbar_bt_activer {
    fill: rgb(13, 123, 254);
}