#headbook_profile_view {
    position: relative;
    top: 55px;
    width: 100vw;
    height: 90%;
    /* border: 1px solid red; */
    display: none;
}

#headbook_profile_bar {
    width: 100%;
    /* min-height: 300px; */
    height: 600px;
    background-color: rgb(32, 32, 32);
}

#Name_and_Surr_profile {
    display: block;
    position: relative;
    text-align: center;
    width: 300px;
    left: 50%;
    right: 50%;
    top: 70px;
    color: rgb(224, 226, 232);
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid springgreen; */
    transform: translate(-50%,0);
}

#headbook_profile_profile_main {
    position: relative;
    width: 65%;
    height: 75%;
    left: 50%;
    right: 50%;
    /* border: 1px solid firebrick; */
    transform: translate(-50%, 0);
}

#headbook_profile_background_profile {
    background-color: rgb(13, 14, 15);
    width: 100%;
    height: 75%;
    border-radius: 0px 0px 15px 15px;
}

#headbook_profile_main_profile {
    position: absolute;
    width: 175px;
    height: auto;
    /* border: 1px solid forestgreen; */
    left: 50%;
    right: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
}

#headbook_profile_main_profile img {
    width: 175px;
    height: auto;
}

#headbook_profile_main_bar {
    margin-top: 20px;
    /* border: 1px solid forestgreen; */
    width: 65%;
    height: 50px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%,0);
}

.headbook_profile_line_bar {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgb(54, 56, 58);
}

#headbook_profile_buttons {
    width: 100%;
    height: 50px;
    /* border: 1px solid gray; */
    position: absolute;
    /* top: 30px; */
    bottom: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headbook_profile_normal_buttons {
    width: 50%;
    /* border: 1px solid firebrick; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headbook_profile_normal_bt {
    height: 100%;
    width: 23%;
    /* border: 1px solid red;        */
}

.headbook_profile_normal_bt:hover {
    background-color: rgb(67, 68, 68);
    border-radius: 10px;
}

.headbook_profile_normal_bt a {
    position: relative;
    display: block;
    font-size: 19px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 226, 232);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#headbook_profile_extra_buttons {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headbook_profile_extra_bt {
    height: 100%;
    width: 45%;
    /* border: 1px solid gray; */
}

.headbook_profile_extra_bt:hover {
    background-color: rgb(67, 68, 68);
    border-radius: 10px;
}

.headbook_profile_extra_bt a {
    position: relative;
    display: block;
    font-size: 19px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 226, 232);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#headbook_profile_view_main {
    width: 40%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 1500px) {
    #headbook_profile_view_main {
        width: 600px;
    }
}

@media (max-width: 1100px) {
    .bt_pro_0_2 {
        display: none;
    }
}
@media (max-width: 800px) {
    .bt_pro_0_3 {
        display: none;
    }
    #headbook_profile_normal_buttons {
        justify-content: center;
    }
}
@media (max-width: 750px) {
    #headbook_profile_profile_main {
        width: 100%;
    }
    #headbook_profile_main_bar {
        width: 95%;
    }
}
@media (max-width: 650px) {
    #headbook_profile_view_main {
        width: 95%;
    }
}
@media (max-width: 420px) {
    .bt_pro_0_4 {
        display: none;
    }   
}