@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0 0;
	background-color: rgb(238,240,243);
	overflow: hidden;
}

#login_page {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 80%;
	/*border: 1px solid green;*/
}

#login_pop_page {
	position: absolute;
	/*border: 1px solid red;*/
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(217,213,217,1);
	-moz-box-shadow: 0px 0px 19px 0px rgba(217,213,217,1);
	box-shadow: 0px 0px 19px 0px rgba(217,213,217,1);
	width: 350px;
	/*height: 350px;*/
	padding-bottom: 30px;
	padding-top: 5px;
	left: 80%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login_page_line {
	position: relative;
	width: 90%;
	height: 1px;
	background-color: rgb(213, 216, 220);
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px
}

#login_page_forgot {
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	color: rgb(0, 109, 234);
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	transition: .25s;
}

#login_page_forgot:hover {
	text-decoration: underline;
}

.intput_login_page {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	outline: none;
	background-color: transparent;
	width: 90%;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
}

.login_page_input_border {
	margin-top: 10px;
	position: relative;
	border: 1px solid rgb(216,218,222);
	width: 90%;
	height: 40px;
	border-radius: 5px;
	background-color: #ffffff;
}

#login_page_login {
	width: 90%;
	height: 40px;
	margin-top: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: rgb(0, 109, 234);
	color: #ffffff;
	font-size: 17px;
	transition: .25s;
}

#login_page_login:hover {
	background-color: rgb(0, 101, 219);
}

#login_page_login:active {
	width: 85%;
}

#login_page_register {
	width: 50%;
	height: 40px;
	outline: none;
	border: none;
	background-color: rgb(22, 174, 54);
	color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	margin-top: 10px;
	transition: .25s;
}

#login_page_register:hover {
	background-color: rgb(0, 154, 45);
}

#login_page_register:active {
	width: 45%;
}

#logo_box {
	position: absolute;
	left: 0;
	top: 45%;
	transform: translate(0, -50%);
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	word-wrap: break-word;
}

#logo_box p {
	width: 500px;
}

#logo_box a {
	font-size: 65px;
	color: rgb(0, 109, 234);
	margin-bottom: 100px;
}

#Login_page_footer {
	position: relative;
	width: 100%;
	height: 50%;
	bottom: 0%;
	left: 0px;
	background-color: #ffffff;
}

#login_page_footer_words {
	position: relative;
	width: 1000px;
	height: 75%;
	bottom: 0px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: transparent;
}

#login_page_footer_words a {
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	font-size: 13px;
	color: rgb(151, 154, 157);
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#login_page_footer_langs {
	background-color: transparent;
	margin-bottom: 10px;
} 

#footer_line_login {
	position: relative;
	width: 100%;
	height: 1px;
	background-color: rgb(213, 216, 220);
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px
}

@media (min-height: 1000px ) and (min-width: 1500px) {
	#login_page {
		overflow: unset;
	}
}

@media (max-width: 1050px) {
	* {
		overflow-x: scroll;
	}
	#login_page {
		position: relative;
		width: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	#logo_box {
		margin-top: 40px;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		transform: none;
		text-align: center;
		width: 100%;
	}
	#logo_box p {
		margin-top: 20px;
		width: 100%;
		font-size: 20px;
	}
	#logo_box a {
		/* font-size: 50px; */
	}
	#login_pop_page {
		position: relative;
		transform: none;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		margin-top: 20px;
		/* width: 80%;
		height: 35%; */		
	}
	#login_page_footer_words {
		width: 90%;
	}
	@media (min-height: 1000px) {
		#login_pop_page {
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			margin-top: 10%;
			transform: scale(1);
		}
	}
	@media (max-height: 500px) {
		* {
			overflow-y: scroll;
		}
	}
}

@media (max-width: 400px) {
	* {
		overflow: unset;
	}
	#login_pop_page { 
		width: 100%;
	}
	#login_page_footer {
		height: 10%;
		padding-top: 10px;
		padding-bottom: 10%;
		position: relative;
	}
}

#register_page_back {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255,.8);
}

#register_page  {
	position: absolute;
	display: block;
	opacity: 1;
	left: 50%;
	top: 50%;
	transform: scale(1) translate(-50%, -50%);
	/* height: 600px; */
	min-width: 400px;
	max-width: 500px;
	padding-bottom: 50px;
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(217,213,217,1);
	-moz-box-shadow: 0px 0px 19px 0px rgba(217,213,217,1);
	box-shadow: 0px 0px 19px 0px rgba(217,213,217,1);
}


#register_page_header {
	background-color: transparent;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

.register_page_input_back {
	background-color: rgb(243, 245, 246);
}

#register_page_header a {
	background-color: transparent;
	color: rgb(26, 28, 30);
	font-size: 30px;
}

#register_page_header p {
	background-color: transparent;
	color: rgb(85, 92, 100);
}

#register_page_line {
	position: relative;
	width: 100%;
	height: 1px;
	background-color: rgb(213, 216, 220);
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px
}

#reigister_flex_inputs {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	align-items: center;
}

#register_name_inputs {
	width: 90%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin-bottom: -5px;
}

.register_intput_border {
	/* margin-top: 10px; */
	display: inline-block;
	position: relative;
	border: 1px solid rgb(216,218,222);
	width: 48%;
	height: 40px;
	border-radius: 5px;
	/* background-color: #ffffff; */
}

#register_birh_inputs {
	width: 90%;
	height: 60px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: transparent;
}

#register_birh_inputs a {
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgb(85, 92, 100);
}

#register_bith_selecteds {
	background-color: transparent;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	margin-top: 3px;
}

.register_page_birth_month_border {
	width: 31%;
	height: 35px;
	background-color: transparent;
	border: 1px solid rgb(216,218,222);
	/* display: inline-block; */
	border-radius: 5px;
}

#register_bith_selecteds select {
	position: relative;
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	outline: none;
	background-color: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0 auto;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	background-image: url("/img/select_png.png");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 10%;
}

#register_info_faq {
	background-color: transparent;
	width: 90%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgb(85, 92, 100);
	margin-bottom: 10px;
}

#register_gender_check {
	width: 90%;
	background-color: transparent;
	margin-bottom: 10px;
}

#register_gender_check > a {
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgb(85, 92, 100);
}

#register_gender_inputs {
	background-color: transparent;
	display: flex;
	justify-content: space-between;
}

.register_gender_border {
	background-color: transparent;
	width: 48%;
	height: 35px;
	border: 1px solid rgb(216,218,222);
	border-radius: 5px;
}

.register_gender_border input {
	position: relative;
	top: 50%;
	right: -2.5%;
	transform: translate(0, -50%);
	float: right;
	border-radius: 50px;
	width: 25px;
}

.register_gender{
	background-color: transparent;
	color: rgb(0, 0, 0);
	position: relative;
	float: left;
	top: 50%;
	left: 1%;
	transform: translate(0, -50%);
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.register_gender_div_in {
	position: relative;
	width: 95%;
	height: 70%;
	background-color: transparent;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* margin: 0 auto; */
}

#register_exit {
	position: absolute;
	background-color: transparent;
	width: 15px;
	height: auto;
	top: 3%;
	right: 5%;
}

.alert_box_login_page {
	display: none;
	position: fixed;
	top: 7vh;
	left: 50%;
	right: 50%;
	width: 35%;
	height: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	max-height: 70px;
	/* border: 1px solid red; */
	transform: translate(-50%, 0);
	z-index: 29;
	border-radius: 10px;
	background-color: red;
	-webkit-box-shadow: 0px 0px 4px -1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 4px -1px rgba(153,153,153,1);
	box-shadow: 0px 0px 4px -1px rgba(153,153,153,1);
}

.show_dow_cl {
	animation: show_down 2s;
}

@keyframes show_down {
	from {
		transform: translate(-50%, -200%);
	}
	to {
		transform: translate(-50%, 0%);
	}
}

.show_up_cl {
	animation: show_up 2s;
}

@keyframes show_up {
	from {
		transform: translate(-50%, 0%);
	}
	to {
		transform: translate(-50%, -200%);
	}
}

@media (max-width: 1000px) {
	.alert_box_login_page {
		width: 75%;
	}
}

@media (min-height: 2000px) {
	.alert_box_login_page {
		top: 25%;
	}
}

.alert_box_login_page_text {
	position: relative;
	/* border: 1px solid green; */
	width: 95%;
	height: 40px;
	left: 50%;
	right: 50%;
	top: 50%;
	transform: translate(-50%, 0);
	overflow: hidden;
	background-color: transparent;
	text-align: center;
}

.alert_box_login_page_text a {
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: rgb(243, 245, 246);
	position: relative;
	left: 50%;
	right: 50%;
	top: 50%;
	display: block;
	transform: translate(-50%,-50%);
}