#headbook_search_view {
    display: none;
    width: 40%;
    background-color: rgb(32, 33, 34);
    border-radius: 15px;
    position: relative;
    left: 50%;
    right: 50%;
    top: 85px;
    transform: translate(-50%,0);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.headbook_search_type {
    position: relative;
    display: block;
    top: 5px;
    margin-left: 10px;
    color: rgb(224, 226, 232);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.search_score {
    width: 90%;
    height: 50px;
    position: relative;
    /* border: 1px solid gray; */
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.search_score:hover {
    background-color: rgb(67, 68, 68);
    border-radius: 50px;
}

.search_score_profile {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 100%;
}

.search_score_profile img {
    width: 50px;
    height: auto;
}

.search_score_profile_name {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    /* border: 1px solid gray; */
}

.search_score_profile_name a {
    position: relative;
    color: rgb(224, 226, 232);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
}

#headbooK_serach_bar {
    display: none;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%,0);
    width: 95%;
    height: 50px;
    /* border: 1px solid gray; */
    top: 10px;
    background-color: rgb(67, 68, 68);
    border-radius: 10px;
}

#headbooK_serach_bar_input {
    display: block;
    width: 90%;
    height: 90%;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(224, 226, 232);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 1200px) {
    #headbook_search_view {
        width: 60%;
    }
    @media (max-width: 700px) {
        #headbook_search_view {
            width: 95%;
        }
    }
}